.container {
  margin-top: 8px;
}

.wrapper {
  overflow-x: auto;
  padding-bottom: 0.5rem;
  width: 100%;
}

.graph {
  display: flex;
  gap: 3px;
}

.week {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.day {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  outline: 1px solid rgb(27 31 35 / 6%);
  outline-offset: -1px;

  &[data-count='0'] {
    background-color: var(--main-border-color);
  }
}
