SITE_ACCENT_COLOR=6c4236
SITE_TEXT_COLOR=2f3d4f

DISCOGS_TOKEN=
DISCOGS_USERNAME=

LETTERBOXD_USERNAME=

UNSPLASH_ACCESS_KEY=
CI_UNSPLASH_ACCESS_KEY=
DIEGOCOXTACOM_UNSPLASH_ACCESS_KEY=
UNSPLASH_USERNAME=

HARDCOVER_TOKEN=

GITHUB_USERNAME=
GITHUB_PERSONAL_ACCESS_TOKEN=

LASTFM_USERNAME=
LASTFM_API_KEY=

SETLIST_USERNAME=
SETLIST_API_KEY=
