.container {
  composes: container from '~/components/Blog/components/Container/styles.module.css';
  margin: 20px auto;
  font-size: 14px;

  @media print {
    display: none;
  }

  @media (width >= 760px) {
    margin: 50px auto;
  }
}

.links {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  @media (width >= 760px) {
    display: flex;
  }
}

.linksItem {
  list-style: none;
  font-size: 32px;
  font-weight: 700;
  margin: 0 24px 5px 0;

  @media (width >= 760px) {
    margin: 0 24px 0 0;
    font-size: 22px;
  }
}

.linksLink {
  text-decoration: none;
  color: var(--main-text-color);
  display: flex;
  padding: 0;
  text-transform: uppercase;

  &::after {
    content: '.';
    display: block;
    color: var(--main-background-color);
    font-size: 57px;
    line-height: 0.5;

    @media (width >= 760px) {
      font-size: 38px;
    }
  }

  &:hover::after {
    color: var(--main-text-color);
  }
}

.label {
  color: var(--main-text-color);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: left;
}
