.page {
  display: grid;
  gap: 3px;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    'leading'
    'content'
    'trailing';

  @media (width >= 640px) {
    margin: 40px 40px 0;
    align-items: start;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: 'sidebar content';
  }

  @media (width >= 1024px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }

  @media (width >= 1536px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  }
}

.sidebar {
  display: contents;

  @media (width >= 640px) {
    display: flex;
    flex-direction: column;
    gap: 3px;
    grid-area: sidebar;
  }
}

.leading {
  grid-area: leading;
}

.trailing {
  grid-area: trailing;
}

.content {
  grid-area: content;
  min-width: 0;
  background-color: color-mix(in srgb, var(--main-background-color) 90%, white);
  padding: 18px;
  height: stretch;
}
