.link {
  text-decoration: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  color: var(--main-title-color);

  &:focus {
    outline: none;
  }
}

.name {
  color: var(--main-title-color);
  font-weight: 700;
  text-transform: lowercase;
  margin: 0;
  font-size: 15vw;

  @media (width >= 760px) {
    font-size: 70px;
  }

  @media print {
    font-size: 46px;
  }
}

.handle {
  color: var(--main-accent-color);
  font-weight: 900;
}

.lastName {
  color: var(--main-accent-color);

  .lastNameHidden {
    display: none;
  }

  @media print {
    margin-left: 5px;

    .lastNameHidden {
      display: inline-block;
    }
  }
}
