.mosaic {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  margin-top: 16px;
  aspect-ratio: 3 / 2;
  border-radius: 12px;
  overflow: hidden;

  &[data-count='2'] {
    grid-template-rows: 1fr;
  }
}

.photo {
  position: relative;
  overflow: hidden;
  transition: filter linear 0.5s;

  & img {
    object-fit: cover;
  }

  &:first-child {
    grid-row: 1 / -1;

    .mosaic[data-count='1'] & {
      grid-column: 1 / -1;
    }

    .mosaic[data-count='2'] & {
      grid-row: auto;
    }
  }
}
