.title {
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  margin: 20px 0 0;
  font-weight: 600;
  color: var(--main-subtitle-color);

  &::after {
    content: ' ';
    display: block;
    flex: 1;
    height: 1px;
    background-color: var(--main-border-color);
  }
}

.grid {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 16px 0 0;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0 0;
  padding: 0;
}

.item {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  .list & {
    max-width: 100%;
    border-bottom: 1px solid var(--main-border-color);
    padding-bottom: 8px;

    &:last-child {
      border-bottom: none;
    }
  }
}
