.grid {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 16px 0 0;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0 0;
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  margin: 20px 0 0;
  font-weight: 600;
  color: var(--main-subtitle-color);

  &::after {
    content: ' ';
    display: block;
    flex: 1;
    height: 1px;
    background-color: var(--main-border-color);
  }
}

.item {
  width: 100%;
  max-width: 33%;
  list-style: none;
  margin: 0;
  padding: 0;

  .list & {
    max-width: 100%;
    border-bottom: 1px solid var(--main-border-color);
    padding-bottom: 8px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.itemCover {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  transition: all linear 0.5s;
  height: 146px;

  & img {
    object-fit: cover;
  }

  &.tall {
    height: 190px;
  }

  &.empty {
    background-color: var(--main-accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-box-color);
    font-size: 36px;
  }
}

.itemTitle {
  margin: 5px 0 0;
  font-weight: 600;
  color: var(--main-subtitle-color);
  font-size: 14px;
}

.itemDescription {
  margin: 5px 0 0;
  color: var(--main-subtitle-color);
  font-size: 12px;
}

.itemLike {
  font-size: 10px;
}

.itemDate {
  margin: 5px 0 0;
  font-size: 12px;
  color: var(--main-subtitle-color);
}

.githubRecentActivity {
  margin-top: 8px;

  .scrollWrapper {
    overflow-x: auto;
    padding-bottom: 0.5rem;
    width: 100%;
  }

  .graph {
    display: flex;
    gap: 3px;
  }

  .weekColumn {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
  }

  .day {
    width: 100%;
    height: 10px;
    border-radius: 2px;
    outline: 1px solid rgb(27 31 35 / 6%);
    outline-offset: -1px;

    &[data-count='0'] {
      background-color: var(--main-border-color);
    }
  }
}
